langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
openai
pypdf
pymupdf
sentence-transformers
transformers
torch
faiss-cpu
chromadb
python-dotenv
ipykernel
langchain-groq
fastapi==0.115.6
uvicorn[standard]==0.32.1
python-multipart==0.0.19
pydantic==2.10.3